.container {
    margin: 0 auto;
    width: 99%;
}
.section {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.game__field {
    /*height: 800px;*/
    position: relative;
    flex: 0 1 50%;
    /*background-image: url(../img/13312345_119619116.jpg);*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*color: #554c42;*/
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(21, 20, 20, 0.1);
    display: none;
}


.game__result {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table {
    width: 100%;
    height: 100%;
}
.table tr {
    border: 2px solid #ffffff;
}
.cell {
    border: 2px solid #ffffff;
}
.cell__field {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
}
.cell__field:hover,
.cell__field:focus {
    background-color: #faf7f4;
    outline: 1px solid greenyellow;
}
.decided {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.example {
    font-size: 3rem;
    font-weight: 700;
}
.title-h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
text {
    cursor: pointer;
}
text:hover {
    font-weight: 700;
}

.text {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
}
#textChoice,
.answer {
    display: none;
}
.answer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answer__input {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 26px;
}
.answer_div {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#decision {
    width: 50%;
    border-radius: 20px;
    text-align: center;
}
.title-error {
    display: none;
    text-align: center;
    color: red;
}


/* MODAL */

.btn {
    border: none;
    background-color: rgba(31, 76, 205, 0.42);
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 20px;
}
.modal-text {
    margin-bottom: 10px;
    font-size: 18px;
}
.modal-btn {
    display: block;
    border: none;
    background-color: #004786;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.modal-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    /* transform: translateY(-100%) scale(0.1); */
    /* transform: scale(0.1); */
    /* opacity: 0; */
    /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; */
}
.modal--open .modal-wrap {
    /* transform: scale(1); */
    /* transform: translateY(0%) scale(1);
    opacity: 1; */
    animation: rotate-scale-up 0.65s linear both;
}

@keyframes rotate-scale-up {
    0% {
        opacity: 0;
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotateZ(360deg);
    }
}

.modal-wrap {
    animation: rotate-scale-close 0.65s linear both;
}

@keyframes rotate-scale-close {
     0% {
         opacity: 1;
         transform: scale(1) rotateZ(0);
     }
     50% {
         transform: scale(2) rotateZ(180deg);
     }
     100% {
         opacity: 0;
         transform: scale(1) rotateZ(360deg);
     }
 }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(56, 54, 54, 0.8);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}
.modal--open {
    pointer-events: auto;
    opacity: 1;
}
.modal__form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__form input {
    width: 60%;
    font-size: 20px;
}



